.profile-avatar {
    height: 120px;
    width: 120px;
}

.username {
    display: block;
    padding: 5px;
    margin-left: 15px
}

.profile-flex{
    display: inline-flex;
    padding: 15px
}

.profile-block {
    display: block;
    padding: 5px;
}

@media (min-width: 150px) {
    .sub-list {
        width: 100rem;
        height: 100rem;
        overflow: scroll;
    }
}

@media (min-width: 770px) {
    .sub-list {
        width: 720px;
        height: 550px;
        overflow: scroll;
    }
}

