.table-container {
    overflow: auto;
}
thead th {
    text-align: left;
    border-bottom: 2px solid black;
}

thead button {
    border: 0;
    border-radius: unset;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
}

thead button.ascending::after {
    content: ' \21E9';
    display: inline-block;
    margin-left: 1em;
}

thead button.descending::after {
    content: '\21E7';
    display: inline-block;
    margin-left: 1em;
}